@import '~@bsi-cx/design-standard-library-web/styles/styles.scss';

$logoWidth: bsiProperty('logoWidth', 60px);

/*
 * Global styles that are independent from a specific content element
 */

.navbar {
  .navbar-brand {
    width: $logoWidth;
    figure {
      margin: 0;
      img {
        margin: 0;
      }
    }
  }

  .icon-header{ 
    figure{
      img {
        width: $logoWidth;
      }
    }
  }
  
  .container.bsi-logo-align-right {
    justify-content: flex-end !important;
    .navbar-brand {
      margin-right: 0 !important;
    }
  }
}
