{% apply spaceless %}
    {% set footerColor = (footerColor ?: properties.footerColor) ?: 'bg-dark' %}
    {% set footerGradient = (footerGradient ?: properties.footerGradient) ?: 'bg-gradient' %}

    <div data-bsi-element="footer-nJDYZP" class="element-footer-nJDYZP d-block {{ footerColor }} {{ footerGradient }} pt-5 pb-5">
        <div data-bsi-dropzone="footer-dropzone-rR98ys">
            {% block footer %}
            {% endblock %}
        </div>
    </div>
{% endapply %}