<div data-bsi-element="footer-nJDYZP" class="element-footer-nJDYZP d-block bg-primary bg-gradient text-light pt-5 pb-4">
    <div data-bsi-dropzone="footer-dropzone-rR98ys">
        {% include '@bsi-cx/design-standard-library/content-elements/layout/col-three/template.twig' %}
    </div>
</div>