{% embed "@bsi-cx/design-standard-library-web/content-elements/buttons/button-filled/template.hbs.twig" with {
    elementId: "abc-123",
    disabled: true,
    customClasses: "test-class"
} %}
    {% block testBlock %}
        <span>{{ '{{ button-link-mbjVlk.text }}' }}</span>
    {% endblock %}
{% endembed %}
