@import '~@bsi-cx/design-standard-library-web/styles/styles.scss';

$logoWidth: bsiProperty('logoWidth', 60px);

/*
 * Global styles that are independent from a specific content element
 */

.navbar {
  .navbar-brand {
    width: $logoWidth;
    .logo {
      width: $logoWidth;
    }
    figure {
      margin: 0;
      img {
        margin: 0;
      }
    }
  }
  .container.bsi-logo-align-right {
    justify-content: flex-end !important;
    .navbar-brand {
      margin-right: 0 !important;
    }
  }
}


.nav-center + .navigation {
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  margin-left: 0;
  margin-right: auto;
  @include media-breakpoint-down(lg) {
    margin-left: auto;
    margin-right: 0;
  }
}