@import '~@bsi-cx/design-standard-library-web/styles/styles.scss';

$logoWidth: bsiProperty('logoWidth', 60px);
$lg: bsiProperty('gridBreakpointLG', 940px);

/*
 * Global styles that are independent from a specific content element
 */

.navbar {
  .navbar-brand {
    width: $logoWidth;

    .logo {
      width: $logoWidth;
    }

    figure {
      margin: 0;

      img {
        margin: 0;
      }
    }
  }

  .container.bsi-logo-align-right {
    justify-content: flex-end !important;

    .navbar-brand {
      margin-right: 0 !important;
    }
  }

  .language-switch .current-active {
    display: none;
  }

  .navbar-nav .nav-item.dropdown:hover {
    .dropdown-menu {
      display: block;
      margin: 0;
    }
  }
  @media (max-width: $lg - 1px) {
    .navbar-nav .nav-item.dropdown .dropdown-menu {
      display: block;
      border: none;
      padding: 0;
      a.dropdown-item {
        color: var(--bs-nav-link-color);
      }
    }
  }

  &.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
  }

  .language-switch {
    .current-active {
      display: none;
    }
    .dropdown-language-switch {
      min-width: 54px;
    }
  }
}

.nav-center + .navigation {
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  margin-left: 0;
  margin-right: auto;

  @include media-breakpoint-down(lg) {
    margin-left: auto;
    margin-right: 0;
  }
}

// content editor specific CSS
.bsi-ce-edit-mode .nav-item.dropdown.language-switch {
  &:hover {
    .dropdown-menu {
      display: none;
    }
  }
  .active-language {
    text-transform: uppercase;
  }
}