{% apply spaceless %}
    {% set dropzoneId = dropzoneId ?: 'logo-dropzone-vBnV9R' %}

    <div data-bsi-dropzone="{{ dropzoneId }}" class="logo">
        {% include  '@bsi-cx/design-standard-library-web/content-elements/advanced/logo-with-darkmode/template.twig' %}
    </div>
{% endapply %}