{% apply spaceless %}
    {% set dropzoneId = dropzoneId ?: 'logo-dropzone-vBnV9R' %}

    <div data-bsi-dropzone="{{ dropzoneId }}" class="logo">
        {% include  './../../../shared/content-elements/logo/template.twig' %}
    </div>
{% endapply %}