{% set dropzoneId = dropzoneId ?: 'footer-dropzone-rR98ys' %}

<div class="d-block bg-primary bg-gradient text-light pt-5 pb-4" data-bsi-dropzone="{{ dropzoneId }}">
    {% include '@bsi-cx/design-standard-library-web/content-elements/layout/col-three/template.twig' %}
</div>